
/************header***********/
body
{
    background-color: rgb(241, 241, 241);
}

header
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav
{
    background-color: grey;
}

h1
{
    padding: 0;
    margin: 15px;
    font-family: 'Oswald', sans-serif !important;
    color: white !important;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0;
}


#velov
{
    height:5rem;
}

p 
{
    color: black;
}

.ctr
{
    display: flex;
    justify-content: center;
}

.butn
{
    border-radius: 5px;
    color: black;
}

.border
{
    border: 1px solid black;
    border-radius: 10px;
}

.bg-white
{
    background-color: white;
}

.formTitle
{
    text-align:center;
}
/***********Footer***********/
footer
{
    margin-top: 2em;
    margin-bottom: 0 !important;
    background-color: grey;
    min-height:  150px;
    padding-bottom: 2em;

}

div#noReservationFooter>h4
{
    text-align: center;
}

#reservationFooter
{
    display: none;
}

caption
{
    color: white;
}


/**********Slider************/
/*xs*sm*/
#smHelp
{
    width: 100%;
    margin-top: 20px;
    
}
#smHelp div
{
    padding: 0.5rem;
    border-radius: 10px;
    background-color: white;
}
/*md*lg*xl*/
#helpSection
{
    width: 100%;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

#divHelp
{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 0;
    height: 200px;
    border-radius: 5px;
    width: 720px;
}


.helpImg
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display:flex;
    flex-direction: row;
}

.imgSlider
{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
}

.imgElt
{
    height: 200px;
}

.txtSlider
{
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 350px;
}

#arrow
{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: red;
}

.bgCircle
{
    background-color: rgba(0, 0, 0, 0.4);
    height: 50px;
    width: 35px;
    margin-top: 50%;
}


#prevArrow
{
    z-index: 10;
}

#nextArrow
{
    z-index: 10;
}

.ileft
{
    border-radius: 0 15px 15px 0;
    padding-top: 25%;
    padding-left: 1px;
    font-size: 2em;
}

.iright
{
    border-radius: 15px 0 0 15px;
    padding-top: 25%;
    padding-left: 6px;
    font-size: 2em;
}
/************Section resa*********/

#resa h2
{
    margin-bottom: -1.1em;
    padding-top: 0.1em;
    padding-left: 10px;
    padding-bottom: 0.1em;
    border-radius: 5px 5px 0 0;
}

.formTitle
{
    text-align:center;
}
/**********infoStation**********/
#resa 
{
    height: 450px;
    margin: 0px;
}

#map
{
    margin-top: 2em;
    border-radius: 5px;
    height: 100%;
}


#info
{
    border-radius: 10px;
    height: 100%;
    padding: 1em 3em;
}

#infoStation
{
    display: none;
    margin-top: 2em;
    height: 100%;
    margin-left: 0;
    padding-left:  0px;
    padding-right: 0;
    flex-wrap: wrap;
}


#stationName
{
    padding:2px;
    text-align:center;
    border-radius:15px;
}


/**********reservation**********/
#infoReservation
{
    display: none;
    height: 100%;
    margin-top: 2em;
    padding-left: 0;
    padding-right: 0;
}
#infoR
{
    border-radius: 10px;
    height: 100%;
    padding: 1em 6em;
}

#infoR form
{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputReservation
{
    margin-bottom: 5px;
    width: 75%;
    color: black;
}

#signature
{
    z-index: 100;
    background-color: white;
}


input[type=text]:focus
{
    background-color: white;
    font-size: 1em;
    font-weight: 600;
}

#name,#firstname
{
    color: black;
    background-color: white;
    font-size: 1em;
}


